{% extends "site/base.html" %} {% load static %} {% block content %}
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>HIS EXCELLENCY</h1>
					<h3>ALH. Dr. SULE LAMIDO</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
						</li>
						<li>
							<a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
						</li>
						<li>
							<a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Mission 2019</h2>
				<p class="lead">*“Mobilizing Nigerians to Appreciate and Embrace the Talakawa Centered Political Ideology with the Aim of Making the
					Leader of the Movement (Dr.) Sule Lamido the President of the Federal Republic of Nigeria for A Better and Greater Nigeria”
					*
				</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="{% static 'img/mission.png' %}" alt="">
			</div>
		</div>

	</div>
</div>
<div class="content-section-a">

	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Vision 2019<br>Special Thanks</h2>
				<p class="lead">*A Secured, Peaceful, Greater Nigeria Through Sule Lamido’s Presidency*</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="{% static 'img/iris.svg' %}" alt="" style="width:250px">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Goals and achievement</h2>
				<p class="lead">The roadmap and plan that we .</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="img/phones.png" alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

<div class="banner">

	<div class="container">

		<div class="row">
			<div class="col-lg-6">
				<h2>Let us make Nigeria Great</h2>
			</div>
			<div class="col-lg-6">
				{% comment %}image of nieria should show here{% endcomment %}
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.banner -->
{% endblock content %}